[submodule "RLJO"]
	path = RLJO
	url = git@github.com:RLJO/Arch.git
	branch = stage

[submodule "Muk"]
	path = Muk
	url = git@github.com:RLJO/Arch.git
	branch = Muk

[submodule "MoreApps"]
	path = MoreApps
	url = git@github.com:RLJO/Arch.git
	branch = Stage2_m_MoreApps
