[submodule "RLJO"]
	path = RLJO
	url = git@github.com:RLJO/Arch.git
	branch = stage

[submodule "muk_dms"]
	path = muk_dms
	url = git@github.com:muk-it/muk_dms.git
	branch = 12.0

[submodule "Arch"]
	path = Arch
	url = git@github.com:RLJO/Arch.git
	branch = Stage2_m_MoreApps
